key.txt
Dataset.zip
model_keras.h5
model_keras.keras
model_weights.weights.h5
SolderBallsSize.csv
ClassifierTensorFlow-bak.py
.idea/
venv/
bak/
labeled/
test/
train/
UnzippedDataset/
validation/
jupyterNotebook/.ipynb_checkpoints
jupyterNotebook/labeled
jupyterNotebook/UnzippedDataset
jupyterNotebook/Dataset.zip
jupyterNotebook/SolderBallsSize.csv